<div class="container aboutclass">
      <h1 class="text-center font-weight-bold">About Us</h1>
      <hr>
      <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                  <p> We are crative. we are story tellers. We are photographic artists with our own
                        distinct approach to photography; our own unique style of creating your portrait; our own
                        personal way of capturing, memorializing and preserving your wedding or special event in a
                        manner that you can appreciate.
                  </p>
                  <p> Combining Jamie’s background in boutique wedding photography
                        with Jason’s experience as a creative photojournalist for newspapers and magazines around the
                        world, we greet your wedding and portrait experience with the same artistic vision that has
                        earned us many awards and accolades. Our style is professional but informal and has been
                        perfected with a chic but contemporary look. We strive to make your photographic session fun so
                        you can be yourself and enjoy the experience. Ultimately, our goal is to craft vibrant,
                        energetic images that are as unique as the people in them, you.
                  </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                  <a class="d-block mb-4 h-100">
                        <img class="img-fluid " src="../../assets/img/pic2.jpg" height="100%" width="100%" alt="pic1">
                  </a>
            </div>
      </div>
</div>
