<nav class="navbar navbar-expand-sm navbar-dark  bg-secondary">
  <div class="container">
    <a routerLink="/Home" class="navbar-brand text-warning">
      <h4><strong>{{ title }}</strong></h4>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarcollapse">
      <span class="navbar-toggler-icon"> </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarcollapse">
      <ul class="navbar-nav text-center ml-auto">
        <li class="nav-item">
          <a routerLink="/Gallary" routerLinkActive="active" class="text-warning nav-link">
            <h6><strong>Gallary</strong></h6>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/Services" routerLinkActive="active" class="text-warning nav-link">
            <h6><strong>Services</strong></h6>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/About" routerLinkActive="active" class="text-warning nav-link">
            <h6><strong>About</strong></h6>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/Team" routerLinkActive="active" class="text-warning nav-link">
            <h6><strong>Team</strong></h6>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/Contact" routerLinkActive="active" class="text-warning nav-link">
            <h6><strong>Contact</strong></h6>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>