<!-- Connect -->
<div id="Connect" class="container padding connectClaas">
  <div class="row text-center padding">
    <div class="col-12">
      <h2 class="animated zoomIn slow">Connect with Social Media</h2>
    </div>
    <div class="col-12 social padding fontclass animated bounceInDown slow">
      <a href="https://www.facebook.com/login/"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/login?lang=en"><i class="fa fa-twitter"></i></a>
      <a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a>
      <a href="https://www.instagram.com/accounts/login/"><i class="fa fa-instagram"></i></a>
      <a href="https://www.youtube.com/signin"><i class="fa fa-youtube"></i></a>
    </div>
  </div>
</div>
<!-- Footer -->
<footer> 

<div id="About"class="container-fluid padding contactClass animated bounceInUp slower">
    <h2 class="text-center">Contact Us </h2>
  <div class="row text-center">
    <div class="col-md-4">
        <hr class="light">
        <h5>Contact Details</h5>
      <hr class="light">
      <p>Name : Sujitkumar Borse</p>
      <p>Mob No.: 9028725588</p>
      <p>Email : sborse15@gmail.com</p>
      <p>Address : FC Road, Pune</p>
    </div>
    <div class="col-md-4">
      <hr class="light"> 
      <h5>Our Hour</h5> 
      <hr class="light">
      <p>Monday : 12am - 6pm</p>
      <p>Tuesday : 10am - 5pm</p>
      <p>Saturday : 10am - 4pm</p>
      <p>Sunday : Closed</p>
    </div>
    <div class="col-md-4">
      <hr class="light">
      <h5>Service Area</h5>
      <hr class="light">
      <p>Pune, Maharashtra, 411004</p>
      <p>Munbai,Maharashtra, 400001</p>
      <P>Nashik, Maharashtra, 420003</P>
      <P>Jalgaon, Maharashtra, 424202</P>
    </div>
    <div class="col-12 footerClass">
      <hr class="light-100">
      <h5 class="text-warning"><a href="https://sujitborse.github.io" target="blank">More About Us</a> | DISCLAIMER | PRIVACY POLICY  ©S-Tech 2019.</h5>
    </div>
  </div>
</div>
</footer>








