<div class="container text-center ourgallary">
  <h1>Gallery</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum vitae explicabo molestias beatae minus,
    delectus aut repellendus nihil totam quas.
  </p>
  <div class="container rowsetting">

    <ul class="nav nav-tabs text-center font-weight-bold no-gutters" role="tablist">

      <li class="nav-item col-lg-2 col-md-2 col-sm-4 col-6">
        <a class="nav-link active" data-toggle="tab" href="#Wedding">Wedding</a>
      </li>

      <li class="nav-item col-lg-2 col-md-2 col-sm-4 col-6">
        <a class="nav-link" data-toggle="tab" href="#Pre-Wedding">Pre-Wedding</a>
      </li>

      <li class="nav-item col-lg-2 col-md-2 col-sm-4 col-6">
        <a class="nav-link" data-toggle="tab" href="#Birthday">Birthday</a>
      </li>

      <li class="nav-item col-lg-2 col-md-2 col-sm-4 col-6">
        <a class="nav-link" data-toggle="tab" href="#Event">Event</a>
      </li>

      <li class="nav-item col-lg-2 col-md-2 col-sm-4 col-6">
        <a class="nav-link" data-toggle="tab" href="#Kids">Kids</a>
      </li>

      <li class="nav-item col-lg-2 col-md-2 col-sm-4 col-6">
        <a class="nav-link" data-toggle="tab" href="#Personal">Personal</a>
      </li>

    </ul>
  </div>

  <!-- Tab panes -->
  <div class="tab-content rowsetting">

    <div id="Wedding" class="container tab-pane active">
      <div class="container">
        <br>
        <h3 class="text-center font-weight-bold">Wedding Photos</h3>
        <br>
        <div class="row text-center text-lg-left">

          <div class="col-lg-3 col-md-4 col-sm-4 col-12">
            <a class="d-block mb-4 h-100">
              <img class="img-fluid rounded" src="../../assets/img/pic1.jpg"  data-toggle="modal" data-target="#myModal" alt="pic1">
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-4 col-12">
            <a class="d-block mb-4 h-100">
              <img class="img-fluid rounded" src="../../assets/img/pic2.jpg" data-toggle="modal" data-target="#myModal" alt="pic1">
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-4 col-12">
            <a class="d-block mb-4 h-100">
              <img class="img-fluid rounded" src="../../assets/img/pic3.jpg"  data-toggle="modal" data-target="#myModal" alt="pic3">
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-4 col-12">
            <a  class="d-block mb-4 h-100">
              <img class="img-fluid rounded" src="../../assets/img/pic2.jpg" data-toggle="modal" data-target="#myModal"  alt="pic2">
              </a>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-4 col-12">
            <a  class="d-block mb-4 h-100">
              <img class="img-fluid rounded" src="../../assets/img/pic3.jpg"  data-toggle="modal" data-target="#myModal" alt="pic3">
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-4 col-12">
            <a  class="d-block mb-4 h-100">
              <img class="img-fluid rounded" src="../../assets/img/pic1.jpg"  data-toggle="modal" data-target="#myModal" alt="pic1">
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-4 col-12">
            <a  class="d-block mb-4 h-100">
              <img class="img-fluid rounded" src="../../assets/img/pic3.jpg"  data-toggle="modal" data-target="#myModal" alt="pic3">
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-4 col-12">
            <a  class="d-block mb-4 h-100">
              <img class="img-fluid rounded" src="../../assets/img/pic2.jpg"  data-toggle="modal" data-target="#myModal" alt="pic2">
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-4 col-12">
            <a  class="d-block mb-4 h-100">
              <img class="img-fluid rounded" src="../../assets/img/pic1.jpg"  data-toggle="modal" data-target="#myModal" alt="pic1">
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-4 col-12">
            <a  class="d-block mb-4 h-100">
              <img class="img-fluid rounded" src="../../assets/img/pic3.jpg"  data-toggle="modal" data-target="#myModal" alt="pic3">
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-4 col-12">
            <a  class="d-block mb-4 h-100">
              <img class="img-fluid rounded" src="../../assets/img/pic2.jpg"  data-toggle="modal" data-target="#myModal" alt="pic2">
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-4 col-12">
            <a  class="d-block mb-4 h-100">
              <img class="img-fluid rounded" src="../../assets/img/pic1.jpg"  data-toggle="modal" data-target="#myModal" alt="pic1">
            </a>
          </div>
        </div>

      </div>
    </div>

    <div id="Pre-Wedding" class="container tab-pane fade">

      <div class="container">
        <br>
        <h3 class="text-center font-weight-bold">Pre-Wedding Photos</h3>
        <br>
        <div class="row text-center text-lg-left">

          <div class="col-lg-3 col-md-4 col-sm-4 col-12">
            <a class="d-block mb-4 h-100">
              <img class="img-fluid rounded" src="../../assets/img/pic1.jpg"  data-toggle="modal" data-target="#myModal" alt="pic1">
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-4 col-12">
            <a  class="d-block mb-4 h-100">
              <img class="img-fluid rounded" src="../../assets/img/pic1.jpg"  data-toggle="modal" data-target="#myModal" alt="pic1">
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-4 col-12">
            <a  class="d-block mb-4 h-100">
              <img class="img-fluid rounded" src="../../assets/img/pic1.jpg"  data-toggle="modal" data-target="#myModal" alt="pic1">
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-4 col-12">
            <a  class="d-block mb-4 h-100">
              <img class="img-fluid rounded" src="../../assets/img/pic1.jpg"  data-toggle="modal" data-target="#myModal" alt="pic1">
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-4 col-12">
            <a  class="d-block mb-4 h-100">
              <img class="img-fluid rounded" src="../../assets/img/pic3.jpg"  data-toggle="modal" data-target="#myModal" alt="pic3">
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-4 col-12">
            <a  class="d-block mb-4 h-100">
              <img class="img-fluid rounded" src="../../assets/img/pic1.jpg"  data-toggle="modal" data-target="#myModal" alt="pic1">
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-4 col-12">
            <a  class="d-block mb-4 h-100">
              <img class="img-fluid rounded" src="../../assets/img/pic3.jpg"  data-toggle="modal" data-target="#myModal" alt="pic3">
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-4 col-12">
            <a  class="d-block mb-4 h-100">
              <img class="img-fluid rounded" src="../../assets/img/pic2.jpg"  data-toggle="modal" data-target="#myModal" alt="pic2">
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-4 col-12">
            <a  class="d-block mb-4 h-100">
              <img class="img-fluid rounded" src="../../assets/img/pic1.jpg"  data-toggle="modal" data-target="#myModal" alt="pic1">
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-4 col-12">
            <a  class="d-block mb-4 h-100">
              <img class="img-fluid rounded" src="../../assets/img/pic3.jpg"  data-toggle="modal" data-target="#myModal" alt="pic3">
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-4 col-12">
            <a  class="d-block mb-4 h-100">
              <img class="img-fluid rounded" src="../../assets/img/pic2.jpg"  data-toggle="modal" data-target="#myModal" alt="pic2">
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-4 col-12">
            <a  class="d-block mb-4 h-100">
              <img class="img-fluid rounded" src="../../assets/img/pic1.jpg"  data-toggle="modal" data-target="#myModal" alt="pic1">
            </a>
          </div>
        </div>

      </div>
    </div>

    <div id="Birthday" class="container tab-pane fade">
      <div class="container">
          <br>
          <h3 class="text-center font-weight-bold">Birthday Photos</h3>
          <br>
          <div class="row text-center text-lg-left">
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg"  data-toggle="modal" data-target="#myModal" alt="pic1">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg" data-toggle="modal" data-target="#myModal"  alt="pic1">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg" data-toggle="modal" data-target="#myModal"  alt="pic1">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg" data-toggle="modal" data-target="#myModal" alt="pic1">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic3.jpg" data-toggle="modal" data-target="#myModal" alt="pic3">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg" data-toggle="modal" data-target="#myModal" alt="pic1">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic3.jpg" data-toggle="modal" data-target="#myModal" alt="pic3">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic2.jpg" data-toggle="modal" data-target="#myModal" alt="pic2">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg" data-toggle="modal" data-target="#myModal" alt="pic1">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic3.jpg" data-toggle="modal" data-target="#myModal" alt="pic3">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic2.jpg" data-toggle="modal" data-target="#myModal" alt="pic2">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg" data-toggle="modal" data-target="#myModal" alt="pic1">
              </a>
            </div>
          </div>
  
        </div>
    </div>

    <div id="Event" class="container tab-pane fade">
      <div class="container">
          <br>
          <h3 class="text-center font-weight-bold">Event Photos</h3>
          <br>
          <div class="row text-center text-lg-left">
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg" data-toggle="modal" data-target="#myModal" alt="pic1">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg" data-toggle="modal" data-target="#myModal" alt="pic1">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg" data-toggle="modal" data-target="#myModal" alt="pic1">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg" data-toggle="modal" data-target="#myModal" alt="pic1">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic3.jpg" data-toggle="modal" data-target="#myModal" alt="pic3">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg" data-toggle="modal" data-target="#myModal" alt="pic1">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic3.jpg" data-toggle="modal" data-target="#myModal" alt="pic3">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic2.jpg" data-toggle="modal" data-target="#myModal" alt="pic2">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg" data-toggle="modal" data-target="#myModal" alt="pic1">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic3.jpg" data-toggle="modal" data-target="#myModal" alt="pic3">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic2.jpg" data-toggle="modal" data-target="#myModal" alt="pic2">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg" data-toggle="modal" data-target="#myModal" alt="pic1">
              </a>
            </div>
          </div>
  
        </div>
    </div>

    <div id="Kids" class="container tab-pane fade">
      <div class="container">
          <br>
          <h3 class="text-center font-weight-bold">Kids Photos</h3>
          <br>
          <div class="row text-center text-lg-left">
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg" data-toggle="modal" data-target="#myModal" alt="pic1">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg" data-toggle="modal" data-target="#myModal" alt="pic1">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg" data-toggle="modal" data-target="#myModal" alt="pic1">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg" data-toggle="modal" data-target="#myModal" alt="pic1">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic3.jpg" data-toggle="modal" data-target="#myModal" alt="pic3">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg" data-toggle="modal" data-target="#myModal" alt="pic1">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic3.jpg" data-toggle="modal" data-target="#myModal" alt="pic3">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic2.jpg" data-toggle="modal" data-target="#myModal" alt="pic2">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg" data-toggle="modal" data-target="#myModal" alt="pic1">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic3.jpg" data-toggle="modal" data-target="#myModal" alt="pic3">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic2.jpg" data-toggle="modal" data-target="#myModal" alt="pic2">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg" data-toggle="modal" data-target="#myModal" alt="pic1">
              </a>
            </div>
          </div>
  
        </div>
    </div>

    <div id="Personal" class="container tab-pane fade">
      <div class="container">
          <br>
          <h3 class="text-center font-weight-bold">Personal Photos</h3>
          <br>
          <div class="row text-center text-lg-left">
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg" data-toggle="modal" data-target="#myModal" alt="pic1">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg" data-toggle="modal" data-target="#myModal" alt="pic1">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg" data-toggle="modal" data-target="#myModal" alt="pic1">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg" data-toggle="modal" data-target="#myModal" alt="pic1">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic3.jpg" data-toggle="modal" data-target="#myModal" alt="pic3">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg" data-toggle="modal" data-target="#myModal" alt="pic1">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic3.jpg" data-toggle="modal" data-target="#myModal" alt="pic3">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic2.jpg" data-toggle="modal" data-target="#myModal" alt="pic2">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg" data-toggle="modal" data-target="#myModal" alt="pic1">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic3.jpg" data-toggle="modal" data-target="#myModal" alt="pic3">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic2.jpg" data-toggle="modal" data-target="#myModal" alt="pic2">
              </a>
            </div>
  
            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
              <a  class="d-block mb-4 h-100">
                <img class="img-fluid rounded" src="../../assets/img/pic1.jpg" data-toggle="modal" data-target="#myModal" alt="pic1">
              </a>
            </div>
          </div>
  
        </div>
    </div>

<!-- image modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-body">
              <img src="../../assets/img/pic1.jpg" class="img-fluid">
          </div>
      </div>
    </div>
  </div>

  </div>

</div>