<div class="container text-center ourgallary">
  <!-- <h1>Gallery</h1> -->
  <div class="container rowsetting">

    <ul class="nav nav-tabs text-center font-weight-bold no-gutters" role="tablist">

      <li class="nav-item col-lg-2 col-md-2 col-sm-4 col-6">
        <a class="nav-link active" data-toggle="tab" href="#Wedding">Wedding</a>
      </li>

      <li class="nav-item col-lg-2 col-md-2 col-sm-4 col-6">
        <a class="nav-link" data-toggle="tab" href="#Pre-Wedding">Pre-Wedding</a>
      </li>

      <li class="nav-item col-lg-2 col-md-2 col-sm-4 col-6">
        <a class="nav-link" data-toggle="tab" href="#Birthday">Birthday</a>
      </li>

      <li class="nav-item col-lg-2 col-md-2 col-sm-4 col-6">
        <a class="nav-link" data-toggle="tab" href="#Kids">Kids</a>
      </li>

      <li class="nav-item col-lg-2 col-md-2 col-sm-4 col-6">
        <a class="nav-link" data-toggle="tab" href="#Personal">Personal</a>
      </li>

      <li class="nav-item col-lg-2 col-md-2 col-sm-4 col-6">
        <a class="nav-link" data-toggle="tab" href="#Other">Other</a>
      </li>

    </ul>
  </div>

  <!-- Tab panes -->
  <div class="tab-content rowsetting animated bounceInUp slower">

    <div id="Wedding" class="container tab-pane active">
      <div class="container">
        <br>
        <h3 class="text-center font-weight-bold animated bounceInDown delay-1s slow">Wedding Photos</h3>
        <br>
        <div class="row text-center text-lg-left">

            <div class="col-lg-3 col-md-4 col-sm-4 col-12" *ngFor="let img of  weddingGalleryImage">
                <a [href]='img.image' data-gallery="gallery" class="d-block mb-4 h-100"
                  data-toggle="lightbox">
                  <img class="img-fluid rounded" [src]='img.image' alt="pic">
                </a>
            </div>

        </div>
      </div>
    </div>

    <div id="Pre-Wedding" class="container tab-pane fade">
      <div class="container">
        <br>
        <h3 class="text-center font-weight-bold animated bounceInDown slow">Pre-Wedding Photos</h3>
        <br>
        <div class="row text-center text-lg-left">

            <div class="col-lg-3 col-md-4 col-sm-4 col-12" *ngFor="let img of  preWeddingGalleryImage">
                <a [href]='img.image' data-gallery="gallery" class="d-block mb-4 h-100"
                  data-toggle="lightbox">
                  <img class="img-fluid rounded" [src]='img.image' alt="pic">
                </a>
            </div>
          
        </div>
      </div>
    </div>

    <div id="Birthday" class="container tab-pane fade">
      <div class="container">
        <br>
        <h3 class="text-center font-weight-bold animated bounceInDown slow">Birthday Photos</h3>
        <br>
        <div class="row text-center text-lg-left">

          <div class="col-lg-3 col-md-4 col-sm-4 col-12" *ngFor="let img of  birthdayGalleryImage">
            <a [href]='img.image' data-gallery="gallery" class="d-block mb-4 h-100" data-toggle="lightbox">
              <img class="img-fluid rounded" [src]='img.image' alt="pic">
            </a>
          </div>
        </div>

      </div>
    </div>

    <div id="Kids" class="container tab-pane fade">
      <div class="container">
        <br>
        <h3 class="text-center font-weight-bold animated bounceInDown slow">Kids Photos</h3>
        <br>
        <div class="row text-center text-lg-left">

          <div class="col-lg-3 col-md-4 col-sm-4 col-12" *ngFor="let img of  kidsGalleryImage">
            <a [href]='img.image' data-gallery="gallery" class="d-block mb-4 h-100" data-toggle="lightbox">
              <img class="img-fluid rounded" [src]='img.image' alt="pic">
            </a>
          </div>

        </div>
      </div>
    </div>

    <div id="Personal" class="container tab-pane fade">
      <div class="container">
        <br>
        <h3 class="text-center font-weight-bold animated bounceInDown slow">Personal Photos</h3>
        <br>
        <div class="row text-center text-lg-left">

          <div class="col-lg-3 col-md-4 col-sm-4 col-12" *ngFor="let img of  personalGalleryImage">
            <a [href]='img.image' data-gallery="gallery" class="d-block mb-4 h-100" data-toggle="lightbox">
              <img class="img-fluid rounded" [src]='img.image' alt="pic">
            </a>
          </div>

        </div>
      </div>
    </div>

    <div id="Other" class="container tab-pane fade">
      <div class="container">
        <br>
        <h3 class="text-center font-weight-bold animated bounceInDown slow">Other Photos</h3>
        <br>
        <div class="row text-center text-lg-left">

          <div class="col-lg-3 col-md-4 col-sm-4 col-12" *ngFor="let img of  otherGalleryImage">
            <a [href]='img.image' data-gallery="gallery" class="d-block mb-4 h-100" data-toggle="lightbox">
              <img class="img-fluid rounded" [src]='img.image' alt="pic">
            </a>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>