.ourgallary {
      padding: 40px 0px 60px;
}

.ourgallary h1 {
      font-weight: bold;
      font-size: 50px;
}

.ourgallary p {
      color: #6c757d;
}

.rowsetting {
      margin: 15px 0px;
}
.rowsetting h3{
      font-size: 28px;
}

.nav-tabs {
      padding: 20px;
}

/* .modal-lg {
      max-width: 78%;
  } */

@media(min-width: 575px) and (max-width: 767px) {
      .ourgallary h1 {
            font-weight: bold;
            font-size: 40px;
      }
      .rowsetting h3{
            font-size: 26px;
      }
}

@media(min-width: 480px) and (max-width: 574px) {
      .ourgallary h1 {
            font-weight: bold;
            font-size: 33px;
      }
      .rowsetting h3{
            font-size: 24px;
      }
}

@media(max-width:497px) {
      .ourgallary h1 {
            font-weight: bold;
            font-size: 30px;
      }
      .rowsetting h3{
            font-size: 21px;
      }
}