<div class="ourteam">
  <div class="container text-center">
    <h1>Our Amazing Team</h1>
    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Commodi, recusandae fuga. Deleniti dolorum molestiae nobis maiores
      aperiam obcaecati iste distinctio rem laboriosam veniam similique accusamus,
      explicabo, odit reiciendis, ab dolor?
    </p>
    <div class="row teamsetting">
      <div class="col-lg-4 col-md-4 col-sm-4 col-12">
        <figure class="figure">
          <img src="../../assets/img/sujit.JPG" alt="pic2" class="rounded-circle figure-img" height="250px"
            width="250px">
          <figcaption>
            <h4>Sujitkumar</h4>
            <p class="figure-caption">Web Developer</p>
          </figcaption>
        </figure>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-12">
        <figure class="figure">
          <img src="../../assets/img/sujitt.JPG" alt="pic2" class="rounded-circle figure-img" height="250px"
            width="250px">
          <figcaption>
            <h4>Sujitkumar</h4>
            <p class="figure-caption">Angular Developer</p>
          </figcaption>
        </figure>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-12">
        <figure class="figure">
          <img src="../../assets/img/sujit.JPG" alt="pic2" class="rounded-circle figure-img " height="250px"
            width="250px">
          <figcaption>
            <h4>Sujitkumar</h4>
            <p class="figure-caption">UI Developer</p>
          </figcaption>
        </figure>
      </div>
    </div>

  </div>
</div>
