<div class="container text-center ourservice">
  <h1 class="animated zoomIn slow">Our Services</h1>

  <div class="row rowsetting">
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 d-block m-auto animated bounceInDown slow">
      <div class="imgsetting d-block m-auto bg-warning">
        <i class="fa fa-picture-o fa-3x"></i>
      </div>
      <h3>Wedding</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea maiores quos in eum?
        Quibusdam eligendi rem voluptatum sint
      </p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 col-12 d-block m-auto animated bounceInDown slow">
      <div class="imgsetting d-block m-auto bg-warning">
        <i class="fa fa-picture-o fa-3x"></i>
      </div>
      <h3>Pre-Wedding</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea maiores quos in eum?
        Quibusdam eligendi rem voluptatum sint
      </p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 col-12 d-block m-auto animated bounceInDown slow">
      <div class="imgsetting d-block m-auto bg-warning">
        <i class="fa fa-picture-o fa-3x"></i>
      </div>
      <h3>Birthday</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea maiores quos in eum?
        Quibusdam eligendi rem voluptatum sint
      </p>
    </div>
  
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 d-block m-auto animated bounceInUp slow">
        <div class="imgsetting d-block m-auto bg-warning">
          <i class="fa fa-picture-o fa-3x"></i>
        </div>
        <h3>Kids</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea maiores quos in eum?
          Quibusdam eligendi rem voluptatum sint
        </p>
      </div>
  
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 d-block m-auto animated bounceInUp slow">
        <div class="imgsetting d-block m-auto bg-warning">
          <i class="fa fa-picture-o fa-3x"></i>
        </div>
        <h3>Personal</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea maiores quos in eum?
          Quibusdam eligendi rem voluptatum sint
        </p>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-12 d-block m-auto animated bounceInUp slow">
        <div class="imgsetting d-block m-auto bg-warning">
          <i class="fa fa-picture-o fa-3x"></i>
        </div>
        <h3>Others</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea maiores quos in eum?
          Quibusdam eligendi rem voluptatum sint
        </p>
      </div>
   </div>
</div>