<div class="container text-center ourservice">
  <h1>Our Services</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum vitae explicabo molestias beatae minus,
    delectus aut repellendus nihil totam quas.
  </p>

  <div class="row rowsetting">
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 d-block m-auto">
      <div class="imgsetting d-block m-auto bg-warning">
        <i class="fa fa-picture-o fa-3x"></i>
      </div>
      <h3>Wedding Photography</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea maiores quos in eum?
        Quibusdam eligendi rem voluptatum sint doloremque enim soluta eius doloribus, amet maiores,
        laudantium dolorum earum quae magni.</p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 col-12 d-block m-auto">
      <div class="imgsetting d-block m-auto bg-warning">
        <i class="fa fa-picture-o fa-3x"></i>
      </div>
      <h3>Pre-Wedding Photography</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea maiores quos in eum?
        Quibusdam eligendi rem voluptatum sint doloremque enim soluta eius doloribus, amet maiores,
        laudantium dolorum earum quae magni.</p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 col-12 d-block m-auto">
      <div class="imgsetting d-block m-auto bg-warning">
        <i class="fa fa-picture-o fa-3x"></i>
      </div>
      <h3>Birthday Photography</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea maiores quos in eum?
        Quibusdam eligendi rem voluptatum sint doloremque enim soluta eius doloribus, amet maiores,
        laudantium dolorum earum quae magni.</p>
    </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-12 d-block m-auto">
        <div class="imgsetting d-block m-auto bg-warning">
          <i class="fa fa-picture-o fa-3x"></i>
        </div>
        <h3>Event Photography</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea maiores quos in eum?
          Quibusdam eligendi rem voluptatum sint doloremque enim soluta eius doloribus, amet maiores,
          laudantium dolorum earum quae magni.</p>
      </div>
  
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 d-block m-auto">
        <div class="imgsetting d-block m-auto bg-warning">
          <i class="fa fa-picture-o fa-3x"></i>
        </div>
        <h3>Kids Photography</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea maiores quos in eum?
          Quibusdam eligendi rem voluptatum sint doloremque enim soluta eius doloribus, amet maiores,
          laudantium dolorum earum quae magni.</p>
      </div>
  
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 d-block m-auto">
        <div class="imgsetting d-block m-auto bg-warning">
          <i class="fa fa-picture-o fa-3x"></i>
        </div>
        <h3>Personal Photography</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea maiores quos in eum?
          Quibusdam eligendi rem voluptatum sint doloremque enim soluta eius doloribus, amet maiores,
          laudantium dolorum earum quae magni.</p>
      </div>
   </div>
</div>